Import Libraries

In [1]:
from statsbombpy import sb
import pandas as pd

In [2]:
# Get competition name and season

comps = sb.competitions()
comps_season = comps[['competition_id','competition_name','season_id','season_name']]
comps_season.head()

c:\Users\Razak\AppData\Local\Programs\Python\Python312\Lib\site-packages\statsbombpy\api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

   competition_id        competition_name  season_id season_name
0               9           1. Bundesliga         27   2015/2016
1            1267  African Cup of Nations        107        2023
2              16        Champions League          4   2018/2019
3              16        Champions League          1   2017/2018
4              16        Champions League          2   2016/2017

Get matches, given the competition_id & season_id

In [ ]:
# Get matches
df = sb.matches(competition_id=1267, season_id=107)
df_fixtures = df[['match_id','home_team','home_score','away_team','away_score']]
df_fixtures.head()

In [ ]:
# Get all match_id
match_id = df['match_id'].to_list()

# Write a loop that fetcches event data for all the matches in our list
df_events = []

for i in match_id:
    m_events = sb.events(i)
    m_events['match_id'] = i
    df_events.append(m_events)

# Join the dataframes into a single one
result_df = pd.concat(df_events, ignore_index=True)
result_df.columns

In [16]:
# Filter for needed data
full_shots_df = result_df[['match_id','team','player','id','location','shot_end_location',
'shot_statsbomb_xg','shot_outcome', 'shot_body_part', 'shot_type', 'minute','type']]
full_shots_df.head(2)

,match_id,team,player,id,location,shot_end_location,shot_statsbomb_xg,shot_outcome,shot_body_part,shot_type,minute,type
0,3923881,Nigeria,NaN,ce79fe82-2b3e-4a95-ae21-6892ea7762b9,NaN,NaN,NaN,NaN,NaN,NaN,0,Starting XI
1,3923881,C么te d'Ivoire,NaN,0fd85800-7ceb-4870-a0e3-92bdd6e49740,NaN,NaN,NaN,NaN,NaN,NaN,0,Starting XI

Split location [x,y] and shot_end_location cordinate columns [x,y,z] into seperate columns

In [ ]:
full_shots_df['location'] = full_shots_df['location'].astype(str)
full_shots_df['shot_end_location'] = full_shots_df['shot_end_location'].astype(str)

full_shots_df[['location_x', 'location_y']] = full_shots_df['location'].str.strip('[]').str.split(', ', expand=True)
full_shots_df[['shot_end_location_x', 'shot_end_location_y', 'shot_end_location_z']] = full_shots_df['shot_end_location'].str.strip('[]').str.split(', ', expand=True)

In [18]:
full_shots_df.head(2)

,match_id,team,player,id,location,shot_end_location,shot_statsbomb_xg,shot_outcome,shot_body_part,shot_type,minute,type
0,3923881,Nigeria,NaN,ce79fe82-2b3e-4a95-ae21-6892ea7762b9,NaN,NaN,NaN,NaN,NaN,NaN,0,Starting XI
1,3923881,C么te d'Ivoire,NaN,0fd85800-7ceb-4870-a0e3-92bdd6e49740,NaN,NaN,NaN,NaN,NaN,NaN,0,Starting XI

In [14]:
# Export to csv
full_shots_df.to_csv("/Users/Razak/Desktop/AFCON Shot Project/AFCON Shot Project data.csv", index=False, encoding = 'utf-8-sig')
df_fixtures.to_csv("/Users/Razak/Desktop/AFCON Shot Project/AFCON Fixtures data.csv", index=False, encoding = 'utf-8-sig')